
body{
    background: #eef1f7;
}
.footer{
    height:45px;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.main{
    height: auto;
    margin: 15px 50px auto 50px;
}

.content {
    height: 90%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}
.left .title{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.sum{
    border-bottom: solid #00a000 2px;
    border-top: solid #00a000 2px;
    height: auto;
    font-size: 17px;
    margin: 5px 70px 5px;

    padding-top: 15px;
    padding-bottom: 15px;
}
.sumLeft{
    margin-right: 45%;
    float: left;
}
.sumList{
    line-height: 30px;
    list-style: none;
}


.data{
    height: 65%;
}

textarea{
    text-indent: 2em;
    border-style: none;
    height: 87%;
    max-width: 1200px;
    width: 100%;
}


.data .dataLeft{
    margin: 20px 70px 5px;
}
.data .dataRight{
    height: 87%;
    margin: 5px 70px 5px;
}
.left{
    height: calc(100vh - 175px);
    padding-top: 30px;
    min-height: 560px;
    margin: auto 20px 40px auto;
    width: 89%;
    float: left;
    background: #ffffff;

}
.right{
    float: left;
    height: auto;

    width: 29%;
}
.right1{
    background: #ffffff;
    height: 45%;
    margin-bottom: 20px;

}
.right2{
    background: #ffffff;
    height: 45%;
    margin-bottom: 20px;
}
.right1 .title{
    font-size: 14px;
    width: 100%;
    height: 36px;
    float: left;
    display: inline;
    cursor: default;
    background: #50c042;
    color: #ffffff;
    text-indent: 14px;
    border: none;
    line-height: 36px;
    vertical-align: bottom;
    font-family: "微软雅黑";
}
.right2 .title{
    font-size: 14px;
    width: 100%;
    height: 36px;
    float: left;
    display: inline;
    cursor: default;
    background: #50c042;
    color: #ffffff;
    text-indent: 14px;
    border: none;
    line-height: 36px;
    vertical-align: bottom;
    font-family: "微软雅黑";
}
.right2 a,
.right1 a{
    width: 95%;
    height: auto;
    float: left;
    display: block;
    margin: 0px 0px 0px 14px;
    font-family: "微软雅黑";
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right2 li,
.right1 li{
    width: 90%;
    height: 51px;
    line-height: 35px;
    float: left;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dataRight p{
    text-indent: 2em;
    max-height: 260px;
    max-width: 1200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
