
	<!-- header -->
		<div class="topTitle">
			<div class="logo">
				<img class="logo-img" src="/img/logoPre.png" alt="logo">
				<span class="logo-word">新区海洋综合管理信息服务系统</span>
			</div>
			<div class="nav">
				<ul>
					<li class="navList"><a href="">首页</a></li>
					<li class="navList"><a href="">航线展示</a></li>
					<li class="navList"><a href="">海域水域监测</a></li>
					<li class="navList"><a href="">海水质量控制</a></li>
					<li class="navList"><a href="">海洋灾害预警</a></li>
				</ul>
			</div>
		</div>
