<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新区海洋综合管理信息服务系统</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/img/logoPre.ico">
    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/sui/bootstrap3.3.4.css">
    <link rel="stylesheet" type="text/css" href="/css/sui/sui.nav.css" />
    <link rel="stylesheet" href="/css/oceanResour/oceanResourData.css">

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/pj/sui/sui.nav.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div>
    <!-- header -->
    <div class="head">
        <!-- header -->
        <div class="topTitle">
            <div class="logo">
                <img class="logo-img" src="/img/logoPre.png" alt="logo">
                <span class="logo-word">新区海洋综合管理信息服务系统</span>
            </div>
            <div class="nav">
                <nav>
                    <ul class="content clearfix">
                        <li><a href="/pj/index2" class="head">首页</a></li>

                        <li class="dropdown">
                            <a href="#" class="head">关于我们</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">单位介绍</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">海洋状况</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">主要职能</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">政策法规</a>
                            <ul class="sub-menu">

                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">海洋规划</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">政策法规</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" class="head">海洋经济</a>
                            <ul class="sub-menu">
                                <li><a href="">总体情况</a></li>

                                <li class="dropdown">
                                    <a href="">重点领域</a>
                                    <ul class="sub-menu">
                                        <li class="dropdown">
                                            <a href="">产业</a>
                                            <ul class="sub-menu">
                                                <li><a href="">海工装备</a></li>
                                                <li><a href="">船舶</a></li>
                                                <li><a href="">海洋信息</a></li>
                                                <li><a href="">海洋生物</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="">滨河</a>
                                            <ul class="sub-menu">
                                                <li><a href="">渔业</a></li>
                                                <li><a href="">能源</a></li>
                                                <li><a href="">其他</a></li>
                                            </ul>

                                        </li>
                                        <li><a href="">岸线</a></li>
                                        <li><a href="">旅游</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>

                                </li>

                                <li class="dropdown">
                                    <a href="">重点区域</a>
                                    <ul class="sub-menu">
                                        <li><a href="">海洋高新技术产业基地</a></li>
                                        <li><a href="">海洋创新园</a></li>
                                    </ul>
                                </li>

                                <li><a href="">其他</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">海洋管理</a>
                            <ul class="sub-menu">
                                <li><a href="" target="_blank">用海管理</a></li>
                                <li><a href="" target="_blank">海洋环保 </a></li>

                                <li class="dropdown">
                                    <a href="#" class="head">防灾减灾</a>
                                    <ul class="sub-menu">
                                        <li><a href="/front" target="_blank">风暴潮</a></li>
                                        <li><a href="/front" target="_blank">海水入侵</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a  class="head">视频监管</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/videoSurvaillance" target="_blank">固定监管</a></li>
                                <li><a href="/pj/vehicleVideos" target="_blank">移动监管</a></li>
                                <li><a href="#">三维展示</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="main">
        <div class="content">
            <div class="left" th:each="oceanResour:${oceanResour}">
                <div class="title" th:text="${oceanResour.title}"></div>
                <div class="sum"  style="font-size: 17px">
                    <ul style="margin: 10px" list-style="none">
                        <div class="sumLeft">
                            <li class="sumList">
                                <b>数据分类：</b>
                                <span th:text="${oceanResour.type}"></span>
                            </li>
                            <li class="sumList">
                                <b>时间粒度：</b>
                                <span th:text="${oceanResour.date}"></span>
                            </li>
                        </div>
                        <div class="sumRight">
                            <li class="sumList">
                                <b>时间跨度：</b>
                                <span th:text="${oceanResour.date}"></span>
                            </li>
                            <li class="sumList">
                                <b>区域粒度：</b>
                                <span>上海</span>
                            </li>
                        </div>

                    </ul>
                </div>

                <div class="data">
                    <div class="dataLeft">
                        <span><b>数据来源:</b></span>
                        <P>海关信息网和工商网</P>
                    </div>

                    <div class="dataRight">
                        <span><b>数据简介:</b></span>
                        <textarea style="max-width: 1200px" th:text="${oceanResour.introduction}"></textarea>
                    </div>

                </div>


            </div>
            <div class="right">
                <div class="right1">
                    <div class="title">描述信息</title>
                        <div>
                            <ul>
                                <li> <a>数据大小：39.5k</a></li>
                                <li> <a>发布时间：2015-09-10</a></li>
                                <li> <a>文档类型：excel</a></li>
                                <li> <a>下载次数：25</a></li>
                            </ul>


                        </div>
                    </div>

                </div>

                <div class="right2">
                    <div class="title">相关数据推荐</title>

                    </div>
                    <div>
                        <ul>
                            <li> <a>2014 年 8 月份浦东新区海域水环境监测因子统计结果</a></li>
                            <li> <a>《浦东新区海洋发展“十二五”规划》报告</a></li>
                            <li> <a>
                                浦东新区南汇嘴近岸海域海洋环境监测与预警——工作报告</a></li>
                            <li> <a>上海市水务、海洋工程建设管理考评工作整合意见（试行）</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- footer -->
    <div style="background: #343844" class="footer">
        <div style="color:#ffffff;position: relative;">@版权所有：上海海洋大学、浦东新区海洋局</div>
    </div>
</div>
<script>
    $(function(){
//        $(".left").height(window.innerHeight-($(".head").height()+$(".footer").height()));
    });
    //设置body的高度
    var mainHeight= document.body.clientHeight -140;
    //$(".main").css("height","110%");
    $(document).ready(function(){
        //菜单点击后 出现背景颜色 首页默认出现背景颜色
        var navList=document.getElementsByClassName("navList");
        for(let i=0;i<navList.length;i++){
            navList[i].onclick = function(){
                this.style.backgroundColor = "red";
                for (var i = 0; i < $(this).siblings().length; i++) {
                    $(this).siblings().css("background","");
                }
            }

        }
    })
    $("#downloadFile").click(function () {
        //$(this).href("file:///C:/Users/DELL/Desktop/ztf.docx")
        $("#downloadFile")[0].href="file:///C:/Users/DELL/Desktop/ztf.docx";
    })

    //    $(function(){
    //        $(".main").height(window.innerHeight-($(".head").height()+$(".footer").height()));
    //    })
</script>
<script src="/js/pj/main.js"></script>
</body>
</html>
