<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新区海洋综合管理信息服务系统</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/img/logoPre.ico">
    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/sui/bootstrap3.3.4.css">
    <link rel="stylesheet" type="text/css" href="/css/sui/sui.nav.css" />
    <link rel="stylesheet" href="/css/oceanSurvey/oceanSurvey.css"/>


    <script src="/js/scroll.js"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/pj/sui/sui.nav.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/scroll.js"></script>
    <script type="text/javascript" src="/js/oceanEngin/jquery.page.js"></script>
    <link rel="stylesheet" href="/css/oceanEngin/jquery.page.css">
    <script type="text/javascript" src="/js/oceanEngin/oceanEngin.js"></script>
</head>
<body>



<div>
    <!-- header -->
    <div>
        <!-- header -->
        <div class="topTitle">
            <div class="logo">
                <img class="logo-img" src="/img/logoPre.png" alt="logo">
                <span class="logo-word">新区海洋综合管理信息服务系统</span>
            </div>
            <div class="nav">
                <nav>
                    <ul class="content clearfix">
                        <li><a href="/pj/index2" class="head">首页</a></li>

                        <li class="dropdown">
                            <a href="#" class="head">关于我们</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">单位介绍</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">海洋状况</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">主要职能</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">政策法规</a>
                            <ul class="sub-menu">

                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">海洋规划</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">政策法规</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" class="head">海洋经济</a>
                            <ul class="sub-menu">
                                <li><a href="">总体情况</a></li>

                                <li class="dropdown">
                                    <a href="">重点领域</a>
                                    <ul class="sub-menu">
                                        <li class="dropdown">
                                            <a href="">产业</a>
                                            <ul class="sub-menu">
                                                <li><a href="">海工装备</a></li>
                                                <li><a href="">船舶</a></li>
                                                <li><a href="">海洋信息</a></li>
                                                <li><a href="">海洋生物</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="">滨河</a>
                                            <ul class="sub-menu">
                                                <li><a href="">渔业</a></li>
                                                <li><a href="">能源</a></li>
                                                <li><a href="">其他</a></li>
                                            </ul>

                                        </li>
                                        <li><a href="">岸线</a></li>
                                        <li><a href="">旅游</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>

                                </li>

                                <li class="dropdown">
                                    <a href="">重点区域</a>
                                    <ul class="sub-menu">
                                        <li><a href="">海洋高新技术产业基地</a></li>
                                        <li><a href="">海洋创新园</a></li>
                                    </ul>
                                </li>

                                <li><a href="">其他</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">海洋管理</a>
                            <ul class="sub-menu">
                                <li><a href="" target="_blank">用海管理</a></li>
                                <li><a href="" target="_blank">海洋环保 </a></li>

                                <li class="dropdown">
                                    <a href="#" class="head">防灾减灾</a>
                                    <ul class="sub-menu">
                                        <li><a href="/front" target="_blank">风暴潮</a></li>
                                        <li><a href="/front" target="_blank">海水入侵</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a  class="head">视频监管</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/videoSurvaillance" target="_blank">固定监管</a></li>
                                <li><a href="/pj/vehicleVideos" target="_blank">移动监管</a></li>
                                <li><a href="#">三维展示</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="main">
        <div class="content" >
            <div class="left">
                <div class="left1">
                    <div class="searchDiv">
                        <input class="search"  placeholder="请输入关键字"/>
                        <input class="searchBtn" type="button" onclick="submit()">
                    </div>
                    <div class="type">
                        <div class="titleDiv">数据分类:</div>
                        <div class="typeDiv">
                            <ul class="typeClass" id="typeClass">
                                <li class="normal" data="-1">不限</li>
                                <li class="normal" data="1"
                                    mutual="0">海洋工程应用</li>
                                <li  class="normal" data="2"
                                     mutual="0">海洋法律法规</li>
                                <li  class="normal" data="3"
                                     mutual="0">海洋生态资源</li>
                                <li  class="normal" data="4"
                                     mutual="0">海洋资源调查</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="left2">
                    <div class="contentDiv">
                        <ul>
                            <li th:each="oceanSurveyList:${oceanSurveyList}">
                                <div class="title">
                                    <a class="file_type_302" title="" th:text="${oceanSurveyList.title}" th:href=@{/pj/oceanSurveyData/{oceanSurveyId}(oceanSurveyId=${oceanSurveyList.id})} target="_blank"></a>
                                    <span th:text="${oceanSurveyList.date}"></span>
                                </div>
                                <div id="introduction" class="text" th:text="${oceanSurveyList.introduction}">
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
                <div id="page">

                </div>
            </div>
            <div class="right">
                <!--<div class="right1">-->
                    <!--<div class="title">已发布数据</div>-->
                    <!--<div class="content" >-->
                        <!--<div class="book">-->
                            <!--<span>11</span>组-->
                        <!--</div>-->
                        <!--<input class="right1_btn">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="right3">
                    <div class="title">热门下载</div>
                    <div class="right3Content">
                        <ul>
                            <li> <a class="top1">海洋资源现状调查</a><span>120次</span></li>
                            <li> <a class="top2">《浦东新区海洋发展“十二五”规划》报告</a><span>98次</span></li>
                            <li> <a class="top3">国务院办公厅关于沿海省、自治区、直辖市审批项目用海有关问题的通知</a><span>74次</span></li>
                            <li> <a class="top4">浦东新区南汇嘴近岸海域海洋环境监测与预警——工作报告</a><span>55次</span></li>
                            <li> <a class="top5">关于印发《上海市建设项目海域使用许可管理办法》的通知</a><span>49次</span></li>
                            <li> <a class="top6">填海项目竣工海域使用验收测量报告编写大纲</a><span>12次</span></li>
                            <li> <a class="top7">海洋资源现状调查</a><span>120次</span></li>
                            <li> <a class="top8">《浦东新区海洋发展“十二五”规划》报告</a><span>98次</span></li>
                            <li> <a class="top9">国务院办公厅关于沿海省、自治区、直辖市审批项目用海有关问题的通知</a><span>74次</span></li>
                            <li> <a class="top10">浦东新区南汇嘴近岸海域海洋环境监测与预警——工作报告</a><span>55次</span></li>

                        </ul>
                    </div>
                </div>

                <div class="right2">
                    <div class="title">发布动态</div>

                    <div class="box">
                        <div class="bcon">
                            <div class="list_lh">
                                <ul>
                                    <li th:each="oceanSurveyList:${oceanSurveyList}">
                                        <div th:text="${oceanSurveyList.date}"></div>
                                        <div class="square"></div>
                                        <a href="/pj/oceanSurveyData/16" target="_blank" th:text="${oceanSurveyList.title}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- footer -->
    <div style="background: #343844" class="footer">
        <div style="color:#ffffff;position: relative;">@版权所有：上海海洋大学、浦东新区海洋局</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        // 使用同一header 和 footer
        /*$(".top").load("header.html");
         $(".bottom").load("footer.html");*/
    });
    //设置body的高度
    //    var mainHeight= document.body.clientHeight -140;
    //    $(".main").css("height","110%");
    $(document).ready(function(){
        //菜单点击后 出现背景颜色 首页默认出现背景颜色
        var navList=document.getElementsByClassName("navList");
        for(let i=0;i<navList.length;i++){
            navList[i].onclick = function(){
                this.style.backgroundColor = "red";
                for (var i = 0; i < $(this).siblings().length; i++) {
                    $(this).siblings().css("background","");
                }
            }

        }
    })

    $(document).ready(function(){
        $('.list_lh li:even').addClass('lieven');
    })
    $(function(){
        $("div.list_lh").myScroll({
            speed:40,
            rowHeight:68
        });
    });
    $(".typeClass li").click(function () {
        //$(this)[0].className="click";
        $(this).toggleClass("click");

        //($(this)[0].innerHTML=="不限")?$(this).siblings("li").className="":$(this)[0].className="click";

    })
    $(function(){
        $("#page").Page({
            totalPages: 9,//分页总数
            liNums: 7,//分页的数字按钮数(建议取奇数)
            activeClass: 'activP', //active 类样式定义
            callBack : function(page){
                //console.log(page)
            }
        });
    })
</script>
<script src="/js/pj/main.js"></script>
</body>
</html>
