<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新区海洋综合管理信息服务系统</title>
    <link rel="stylesheet" href="/css/common2.css">
    <link rel="stylesheet" href="/css/video.css">
    <link rel="icon" href="/img/logoPre.ico">
    <link rel="stylesheet" href="/css/sui/bootstrap3.3.4.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/sui/sui.nav.css" />-->
    <link rel="stylesheet" type="text/css" href="/css/sui/dataBigCommon.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/pj/sui/sui.nav.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/stylenav.css">
</head>
<style>
    .footer{
        bottom: 0px;
        position: fixed;
        width: 100%;
    }
    .main{
        height: calc(100vh - 125px);
    }
</style>
<body>
<div>
    <!-- header -->
    <div>
        <!-- header -->
        <div class="topTitle" style="height: 77px">
            <div class="logo">
                <img class="logo-img" src="/img/logoPre.png" alt="logo">
                <span class="logo-word">浦东新区海洋综合管理信息系统</span>
            </div>
            <div class="nav" style="top: 17px">
                <nav>
                    <ul class="content clearfix">
                        <li><a href="/index" class="head">首页</a></li>

                        <li class="dropdown">
                            <a href="#" class="head">关于我们</a>
                            <ul class="sub-menu">
                                <li><a href="">单位介绍</a></li>
                                <li><a href="">海洋状况</a></li>
                                <li><a href="">主要职能</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="head">政策法规</a>
                            <ul class="sub-menu">

                                <li class="dropdown">
                                    <a href="">海洋规划 ></a>
                                    <ul class="sub-menu">
                                        <li><a href="" >国家规划</a></li>
                                        <li><a href="">上海规划</a></li>
                                        <li><a href="">新区规划</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="">政策法规 ></a>
                                    <ul class="sub-menu">
                                        <li><a href="">国家法规</a></li>
                                        <li><a href="">上海法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区法规</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" class="head">海洋经济</a>
                            <ul class="sub-menu">
                                <li><a href="">总体情况</a></li>

                                <li class="dropdown">
                                    <a href="">重点领域 ></a>
                                    <ul class="sub-menu">
                                        <li class="dropdown">
                                            <a href="">产业 ></a>
                                            <ul class="sub-menu">
                                                <li><a href="">海工装备</a></li>
                                                <li><a href="">船舶</a></li>
                                                <li><a href="">海洋信息</a></li>
                                                <li><a href="">海洋生物</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="">滨河 ></a>
                                            <ul class="sub-menu">
                                                <li><a href="">渔业</a></li>
                                                <li><a href="">能源</a></li>
                                                <li><a href="">其他</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">岸线</a></li>
                                        <li><a href="">旅游</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="">重点区域 ></a>
                                    <ul class="sub-menu">
                                        <li><a href="">产业基地</a></li>
                                        <li><a href="">海洋创新园</a></li>
                                    </ul>
                                </li>
                                <li><a href="">其他</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="head">海洋管理</a>
                            <ul class="sub-menu">
                                <li><a href="/front" target="_blank">用海管理</a></li>
                                <li><a href="" target="_blank">海洋环保 </a></li>
                                <li class="dropdown">
                                    <a href="#" class="head">海洋环境 ></a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/seaSurvaillance" target="_blank">海水环境</a></li>
                                        <li><a href="/pj/seaBioCondi" target="_blank">海洋生物</a></li>
                                        <li><a href="/pj/sewageOutfall" target="_blank">排污口</a></li>
                                        <li><a href="/pj/seaSediment" target="_blank">沉积物</a></li>
                                        <li><a href="/pj/seaBioCondi" target="_blank">环境预警</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="head">防灾减灾 ></a>
                                    <ul class="sub-menu">
                                        <li><a href="/front" target="_blank">风暴潮</a></li>
                                        <li><a href="/pj/seawaterIntrusion" target="_blank">海水入侵</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a  class="head">视频监管</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/videoSurvaillance" target="_blank">固定监管</a></li>
                                <li><a href="/pj/vehicleVideos" target="_blank">移动监管</a></li>
                                <li><a href="#">三维展示</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a  class="head">后台管理</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/dataConfigure" target="_blank">数据管理</a></li>
                                <li><a href="/pj/loginArcServer" target="_blank">服务交换</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- main -->
<div class="main" style="height: 100%;margin: 67px auto;">
    <div class="videoContent">
        <div class="container">
            <ul id="picList">
                <li id="videoPD" class="vList" value="31011500001310119100" >
                    <div class="pic_img">
                        <a href="javascript:void(0);">
                            <img src="/img/video/img_pd.png"/>
                        </a>
                    </div>
                    <div class="pic_wen">
                        <div class="pic_wen_title" id="HGJJ">
                            <a href="javascript:void(0);"
                               onclick="openLoginDialog();">浦东新区海洋环境监测</a>
                            <span onclick="openLoginDialog();"
                                  class="not_buy"></span>
                        </div>
                        <div class="pic_wen_content">
                            <p>浦东新区是上海市的一个市辖区，浦东南面与奉贤区北与崇明岛隔长江相望。</p>
                            <span>数据集：187</span>
                            <span>指标数：3979</span>
                            <!--数字传字段-->
                        </div>
                    </div>

                </li>
                <li id="videoBS" class="vList" value="31011300001310119701" >
                    <div class="pic_img">
                        <a href="javascript:void(0);">
                            <img src="/img/video/img_bsh.png"/>
                        </a>
                    </div>
                    <div class="pic_wen">
                        <div class="pic_wen_title" id="NCTJ">
                            <a href="javascript:void(0);" onclick="openLoginDialog();">宝山区海洋环境监测</a>
                            <span onclick="openLoginDialog();" class="not_buy"></span>
                        </div>
                        <div class="pic_wen_content">
                            <p>宝山区位于上海市北部，分成陆地和岛屿两部分。陆上，东北濒长江，东临黄浦江，南与杨浦。</p>
                            <span>数据集：149</span>
                            <span>指标数：2639</span>
                            <!--数字传字段-->
                        </div>
                    </div>

                </li>
                <li id="videoCM" class="vList" value="31010038001310110657" >
                    <div class="pic_img">
                        <a href="javascript:void(0);">
                            <img src="/img/video/img_chm.png"/>
                        </a>
                    </div>
                    <div class="pic_wen">
                        <div class="pic_wen_title" id="NYTJ">
                            <a href="javascript:void(0);" onclick="openLoginDialog();">崇明区统计数据</a>
                            <span onclick="openLoginDialog();"
                                  class="not_buy"></span>
                        </div>
                        <div class="pic_wen_content">
                            <p>崇明岛是世界上最大的河口冲积岛，也是继台湾岛、海南岛之后的中国第三大岛。</p>
                            <span>数据集：134</span>
                            <span>指标数：1851</span>
                            <!--数字传字段-->
                        </div>
                    </div>

                </li>
                <li id="videoFX" class="vList" value="31012000001310116577" >
                    <div class="pic_img">
                        <a href="javascript:void(0);">
                            <img src="/img/video/img_fx.png"/>
                        </a>
                    </div>
                    <div class="pic_wen">
                        <div class="pic_wen_title" id="YYTJ">
                            <a href="javascript:void(0);" onclick="openLoginDialog();">奉贤区统计数据</a>
                            <span onclick="openLoginDialog();" class="not_buy"></span>
                        </div>
                        <div class="pic_wen_content">
                            <p>奉贤区位于长江三角洲东南端，地处上海市南部，南临杭州湾，北枕黄浦江等基本情况。</p>
                            <span>数据集：87</span>
                            <span>指标数：2021</span>
                            <!--数字传字段-->
                        </div>
                    </div>

                </li>
                <li id="videoJS" class="vList" value="31011600001310117469">
                    <div class="pic_img">
                        <a href="javascript:void(0);">
                            <img src="/img/video/img_jsh.png"/>
                        </a>
                    </div>
                    <div class="pic_wen">
                        <div class="pic_wen_title" id="XMYTJ">
                            <a href="javascript:void(0);" onclick="openLoginDialog();">金山区海洋环境监测</a>
                            <span onclick="openLoginDialog();"
                                  class="not_buy"></span>
                        </div>
                        <div class="pic_wen_content">
                            <p>金山区是上海西南部的远郊，位于中国长江以南的江南地区，地处黄浦江上游的金山，东与奉贤区接壤。</p>
                            <span>数据集：34</span>
                            <span>指标数：711</span>
                            <!--数字传字段-->
                        </div>
                    </div>

                </li>
                <div id="videoBtn" >
                    <div class="videoDiv">
                        <button id="loading-exe"  type="button" class="btn btn-success" data-loading-text="Loading...">下载插件</button>
                    </div>

                    <div  class="videoDiv" id="videoSubmit" >
                        <button id="loading-btn"  type="button" class="btn btn-success" data-loading-text="Loading...">实况视频预览</button>
                    </div>
                </div>
                <!--<a href="E:/test/cmsocx.exe">down</a>-->
            </ul>


        </div>

    </div>

</div>
<!-- footer -->
<!--<div style="background: #343844;margin-top: 740px;">
    <div style="color:#ffffff;position: initial;margin-left: 500px;">@版权所有：浦东新区科经委（海洋处）</div>
</div>-->
<div class="footer" style="background: #20326b">
    <div style="color:#ffffff;position: relative;height: 45px;display: flex;justify-content: center;align-items: center">@版权所有：浦东新区科经委(海洋处)</div>
</div>
<script>
    //设置body的高度
    var mainHeight= document.body.clientHeight -140;
    $(".main").css("height","110%");


    $(document).ready(function() {
        $('.content').prependTo('mapDiv');
        $( '.dropdown' ).hover(
            function(){
                $(this).children('.sub-menu').slideDown(200);
            },
            function(){
                $(this).children('.sub-menu').slideUp(200);
            }
        );
    }); // end ready
</script>
<script src="/js/pj/video.js"></script>
</body>
</html>
