<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新区海洋综合管理信息服务系统</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/video.css">
    <link rel="icon" href="/img/logoPre.ico">
    <link rel="stylesheet" href="/css/sui/bootstrap3.3.4.css">
    <link rel="stylesheet" type="text/css" href="/css/sui/sui.nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/sui/dataBigCommon.css"/>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/pj/sui/sui.nav.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div>
    <!-- header -->
    <div>
        <!-- header -->
        <div class="topTitle">
            <div class="logo">
                <img class="logo-img" src="/img/logoPre.png" alt="logo">
                <span class="logo-word">新区海洋综合管理信息服务系统</span>
            </div>
            <div class="nav">
                <nav>
                    <ul class="content clearfix">
                        <li><a href="/index" class="head">首页</a></li>

                        <li class="dropdown">
                            <a href="#" class="head">关于我们</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">单位介绍</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">海洋状况</a></li>
                                <li><a href="/pj/oceanEngin/1/all" target="_blank">主要职能</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">政策法规</a>
                            <ul class="sub-menu">

                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">海洋规划</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区规划</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/pj/oceanEngin/1/all" target="_blank">政策法规</a>
                                    <ul class="sub-menu">
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">国家法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">上海法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">新区法规</a></li>
                                        <li><a href="/pj/oceanEngin/1/all" target="_blank">其他</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" class="head">海洋经济</a>
                            <ul class="sub-menu">
                                <li><a href="">总体情况</a></li>

                                <li class="dropdown">
                                    <a href="">重点领域</a>
                                    <ul class="sub-menu">
                                        <li class="dropdown">
                                            <a href="">产业</a>
                                            <ul class="sub-menu">
                                                <li><a href="">海工装备</a></li>
                                                <li><a href="">船舶</a></li>
                                                <li><a href="">海洋信息</a></li>
                                                <li><a href="">海洋生物</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="">滨河</a>
                                            <ul class="sub-menu">
                                                <li><a href="">渔业</a></li>
                                                <li><a href="">能源</a></li>
                                                <li><a href="">其他</a></li>
                                            </ul>

                                        </li>
                                        <li><a href="">岸线</a></li>
                                        <li><a href="">旅游</a></li>
                                        <li><a href="">其他</a></li>
                                    </ul>

                                </li>

                                <li class="dropdown">
                                    <a href="">重点区域</a>
                                    <ul class="sub-menu">
                                        <li><a href="">海洋高新技术产业基地</a></li>
                                        <li><a href="">海洋创新园</a></li>
                                    </ul>
                                </li>

                                <li><a href="">其他</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="head">海洋管理</a>
                            <ul class="sub-menu">
                                <li><a href="" target="_blank">用海管理</a></li>
                                <li><a href="" target="_blank">海洋环保 </a></li>

                                <li class="dropdown">
                                    <a href="#" class="head">防灾减灾</a>
                                    <ul class="sub-menu">
                                        <li><a href="/front" target="_blank">风暴潮</a></li>
                                        <li><a href="/front" target="_blank">海水入侵</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a  class="head">视频监管</a>
                            <ul class="sub-menu">
                                <li><a href="/pj/videoSurvaillance" target="_blank">固定监管</a></li>
                                <li><a href="/pj/vehicleVideos" target="_blank">移动监管</a></li>
                                <li><a href="#">三维展示</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- main -->
<div class="main">
    <div class="content" style="top: 10px;">
        <div id="left" style="width:80%;float: left">
            <iframe id="mainFrame" th:src=@{http://31.16.10.103:8087/cas/remoteLogin?username=admin&password=afdd0b4ad2ec172c586e2150770fbf9e&service=http%3A%2F%2F31.16.10.103%2Fvas%2Fweb%2FpreviewCtrl.action%3FwndNum%3D1%26previewType%3D1%26cameraIndexCodes%3D{videoS}(videoS=${videoS})}
              scrolling="auto" style="width: 95%; height: 500px" frameborder="0" marginheight="0" marginwidth="0">
                您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架
            </iframe>
        </div>
        <div id="right" style="width:100px;float: left;margin-left: -100px;">
            <div class="container" style="margin-right: initial;">
                <ul id="picList">
                    <li id="videoPD" class="vList">
                        <div style="height: 250px;background-image: url('/img/video/pd_left_bg.png')">
                            <div style="font-size: 25px;color: white;text-align: center;">
                                <label id="title">浦东新区</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="hklbl">海况：</label><label id="hkVal">海面状况良好</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="njdlbl">能见度：</label><label id="njdVal">2公里</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="qwlbl">气温：</label><label id="qwVal">27度</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="flbl">海风：</label><label id="fVal">7米/秒</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="hlalbl">海浪：</label><label id="hlaVal">1.2米</label>
                            </div>
                            <div style="font-size: 15px;color: white;text-align: left; margin-left: 15px;">
                                <label id="hllbl">海流：</label><label id="hlVal">0.9米</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- footer -->
<div style="background: #343844;">
    <div style="color:#ffffff;position: initial;margin-left: 500px;">@版权所有：上海海洋大学、浦东新区海洋局</div>
</div>
</div>
<script>
    //设置body的高度
    var mainHeight= document.body.clientHeight -140;
    $(".main").css("height","100%");
    $(document).ready(function() {
        $( '.dropdown' ).hover(
            function(){
                $(this).children('.sub-menu').slideDown(200);
            },
            function(){
                $(this).children('.sub-menu').slideUp(200);
            }
        );
    }); // end ready
</script>
<script src="/js/pj/video.js"></script>
</body>
</html>
